* {
    margin: 0;
    padding: 0;
}

  body {
    max-width: 1440px;
    margin: 0 auto;
}

header {
    background-color: $color-black1;
    padding: 20px 20px 20px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    nav {
        margin-left: 454px;
    }
}
.header_nav {
    &_text {
        margin-bottom: 0;
        color: $color-white;
        font-family: Forum;
        font-size: 30px;
        font-weight: 400;
        line-height: 50px;
    }
}
.navigation {
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    gap: 30px;
    &_menu_item {
        list-style: none;
    }
    a {
        text-decoration: none;
        text-align: center;
        color: $color-white;
        font-family: Inter;
        font-size: 20px;
        font-style: normal;
        font-weight: 400;
        line-height: 50px;
    }
}
.logo {
    display: flex;
    gap: 40px;
    margin-left: 40px;
    &_icon {
        width: auto;
        max-height: 28px;
    }
}

.welcome {
    display: flex;
    min-height: 600px;
    background: url('/img/bg/bg_welcome.jpg') center (center / cover) no-repeat;
    &_block {
        display: flex;
        width: 600px;
        height: 220px;
        padding: 35px 40px;
        justify-content: center;
        align-items: center;
        flex-shrink: 0;
        margin-top: 255px;
        background-color: $color-black1;
        &_header {
            margin-bottom: 0;
            color: $color-white;
            text-align: center;
            font-family: Forum;
            font-size: 40px;
            font-style: normal;
            font-weight: 400;
            text-transform: uppercase;
            line-height: 50px;
            letter-spacing: 3px;
        }
    }
}

.title_wrapper {
    .title {
        margin: 20px 0 20px;
        color: $color-black1;
        font-family: Forum;
        font-size: 40px;
        font-style: normal;
        font-weight: 400;
        line-height: 40px;
        letter-spacing: 2px;
        text-transform: capitalize;
        text-align: center;
    }
    .line {
        margin: 0 auto;
        width: 50px;
        height: 1px;
        background: $color-black1;
    }
    .subtitle {
        margin: 40px 0 20px;
        color: $color-black2;
        text-align: center;
        font-family: Inter;
        font-size: 20px;
        font-style: normal;
        font-weight: 400;
        line-height: 40px;
    }
}

.about {
    .carousel {
        margin: 0 20px;
        display: flex;
        gap: 25px;
    }
    .carousel_pagination {
        margin: 40px 0 40px;
        .carousel_wrapper {
            display: flex;
            margin: 0 auto;
             width: 68px;
             height: 16px;
            .carousel_button_1 {
                display: block;
                width: 16px;
                height: 16px;
                border-radius: 100px;
                background-color: $third-color;
                cursor: pointer;
            }
            .carousel_button_2 {
                margin: 0 10px;
                display: block;
                width: 16px;
                height: 16px;
                border-radius: 100px;
                background-color: $color-black1;
                cursor: pointer;
            }
            .carousel_button_3 {
                display: block;
                width: 16px;
                height: 16px;
                border-radius: 100px;
                background-color: $color-black1;
                cursor: pointer;
            }
        }
    }
}

.favorites {
    padding: 20px 20px 40px 20px;
    .imput {
        margin-top: 40px;
        color: $color-black1;
        font-family: Inter;
        font-size: 20px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
    }
    .radio {
        display: flex;
        padding-top: 40px;
        gap: 90px;
        input {
            width: 17px;
            height: 17px;
            margin-right: 20px;
        }
    }
}

.description {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 40px;
    gap: 40px 0;
    &_book {
        position: relative;
        max-width: 590px;
        width: 100%;
        padding-right: 40px;
        &_item {
            padding: 15px 20px;
            max-width: 550px;
            width: 100%;
            height: 555px;
            border: 1px solid #000;
            &_title {
                font-family: Forum;
                font-size: 20px;
                font-style: normal;
                font-weight: 400;
                letter-spacing: 2px;
                text-transform: capitalize;
            }
            .gold_line {
                margin-top: 13px;
                margin-bottom: 34px;
                width: 60px;
                height: 1px;
                background: $third-color;
            }
            &_subtitle {
                font-family: Inter;
                font-size: 15px;
                font-style: normal;
                font-weight: 700;
                letter-spacing: 2px;
                text-transform: uppercase;
                &_2 {
                    font-family: Inter;
                    font-size: 15px;
                    font-style: normal;
                    font-weight: 700;
                    letter-spacing: 2px;
                }
            }
            &_text {
                display: block;
                width: 355px;
                height: 320px;
                font-family: Inter;
                font-size: 15px;
                font-style: normal;
                font-weight: 400;
                line-height: 40px;
                letter-spacing: 2px;
                text-transform: capitalize;
            }
            &_btn {
                margin-top: 15px;
                width: 75px;
                height: 30px;
                border-radius: 2px;
                border: 1px solid $color-black1;
                text-align: center;
                font-family: Inter;
                font-size: 10px;
                font-style: normal;
                font-weight: 700;
                line-height: normal;
            }
            &_img {
                position: absolute;
                right: 0;
                bottom: 0;
            }
        }
    }
}

.coffeeshop {
    padding: 20px 20px 40px 20px;
    display: flex;
    &_menu_column {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        &_1 {
            max-height: 520px;
            display: flex;
            gap: 40px;
            flex-direction: column;
        }
        &_2 {
            max-height: 520px;
            display: flex;
            gap: 40px;
            flex-direction: column;
        }
    }
    &_menu_item_1 {
        display: flex;
        gap: 60px;
        flex-direction: row;
        align-items: center;
        justify-content: flex-start;
        p {
            margin-bottom: 0;
            color: #000;
            font-family: Inter;
            font-size: 20px;
            font-style: normal;
            font-weight: 400;
            line-height: 40px; /* 200% */
            letter-spacing: 2px;
            text-transform: capitalize;
            width: 200px;
        }
        &_line {
            width: 100px;
            height: 1px;
            background-color: $third-color;
        }
    }
    &_menu_item_2 {
        display: flex;
        gap: 60px;
        flex-direction: row;
        align-items: center;
        justify-content: flex-end;
        p {
            margin-bottom: 0;
            color: #000;
            font-family: Inter;
            font-size: 20px;
            font-style: normal;
            font-weight: 400;
            line-height: 40px; /* 200% */
            letter-spacing: 2px;
            text-transform: capitalize;
        }
        &_line {
            width: 100px;
            height: 1px;
            background-color: $third-color;
        }
    }
    &_menu_title {
        color: $third-color;
        font-family: Forum;
        font-size: 40px;
        font-style: normal;
        font-weight: 400;
        line-height: 40px; /* 100% */
        letter-spacing: 2px;
        text-transform: capitalize;
    }
}